@import "../../../../styles//variables.scss";

:host {
  display: block;
}

.banner {
  background-color: $c-light-grey;
  padding-bottom: 32px;
  padding-top: 30px;

  &__wrapper {
    display: flex;
  }

  &__content {
    margin-right: 25px;
    width: 35%;
  }

  &__text {
    line-height: 1.1;
    font-size: 14px;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__block {
    background-color: $c-grey;
    height: 120px;
    width: 227px;
  }
}
