@import "../../../../styles//variables.scss";

.twitter {
  margin-bottom: 39px;
  margin-top: 30px;

  &__block {
    background-color: $c-light-grey;
    align-items: center;
    display: flex;
    padding: 10px;
    height: 82px;
  }

  &__text {
    font-size: 14px;
  }
}
