<section class="services">
  <div class="services__block">
    <span class="services__text">Services</span>
  </div>
  <div class="services__block">
    <span class="services__text services__text--bottom">Services</span>
  </div>
  <div class="services__block">
    <span class="services__text services__text--top">Services</span>
  </div>
  <div class="services__block">
    <span class="services__text services__text--left">Services</span>
  </div>
  <div class="services__block">
    <span class="services__text services__text--right">Services</span>
  </div>
  <div class="services__block">
    <span class="services__text services__text--top-right">Services</span>
  </div>
</section>
